server:
  port: 80

spring:
  application:
    name: cloud-consumer-order-ribbon

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka